*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    /* font-family: Okra, Helvetica, sans-serif; */
}
div{
    height: 450px;
    width: 100%;
    background-image: url("./images/81f3ff974d82520780078ba1cfbd453a1583259680.avif");
    /* background-repeat: no-repeat; */
}
header{
    /* border: 2px solid; */
    height: 100px;
    width: 100%;
}
nav{
    /* border: 2px solid white; */
    height: inherit;
    width: 70%;
    margin: auto;
}
nav span{
    color: white;
    /* border: 2px solid blue; */
    position: absolute;
    top: 18px;
    word-spacing: 1px;
    font-weight: 300;
}
#nav{
    /* border: 2px solid blanchedalmond; */
    list-style-type: none;
    display: flex;
    width: 600px;
    color: white;
    font-family:Okra, Helvetica, sans-serif;
    justify-content: space-around;
    position: absolute;
    right: 220px;
    top: 18px;
    padding: 10px;
    font-size: 18px;
}
section{
    /* border: 2px solid white; */
    text-align: center;
    color: white;
    height: 250px;
}
h1 img{
    /* border: 2px solid green; */
    width: 300px;
}
h3{
    /* border: 2px solid lightblue; */
    margin-top: 30px;
    padding: 10px;
    padding-left:5px;
    font-family:Okra, Helvetica, sans-serif;
    font-size: 35px;
    font-weight: 300;
}
input{
    /* border: 2px solid blue; */
    padding: 15px;
    width: 715px;
    text-align: center;
    border-radius: 10px;
    font-size: 18px;
    padding-top: 20px;
}
select{
    /* border: 2px solid blueviolet; */
    position: absolute;
    left: 432px;
    top: 272px;
    padding: 5px;
    background-color: white;
    border: none;
    font-family:Okra, Helvetica, sans-serif;
    font-size: 17px;
    color: gray;
}
#locate{
    /* border: 2px solid yellow; */
    color: #FF7E8B;
    padding: 15px;
    position: absolute;
    left: 405px;
    top:265px;
}
#search{
    border: 2px solid;
    padding: 5px;
    position: absolute;
    left: 550px;
    color: grey;
    top: 277px;
    border-top: none;
    border-bottom: none;
    border-right: none;
    padding: 5px;
    font-size: 18px;
    padding-left: 20px;

}

#back{
    /* border: 2px solid black; */
    height: 1350px;
    width: 100%;
}

article{
    /* border: 2px solid blue; */
    height:300px ;
    width: 70%;
    margin: auto;
}
article #story1{
    background-image: none;
    border: 1px solid rgb(232, 232, 232);
    height: 200px;
    width: 300px;
    border-radius: 20px;
    margin-left:25px;
    margin-top: 30px;
}
#story1 img{
    height: 150px;
    width: 300px;
    border-radius: 20px;
}
#story1 img+h3{
    /* border: 2px solid; */
    width: 150px;
    margin-left: 15px;
    padding: 0px;
    margin-top: 5px;
    text-align: justify;
    color: rgb(54, 54, 54);
    font-size: 20px;
    font-family:Okra, Helvetica, sans-serif;
    /* line-height: 2px; */

}
#story1 img+h3+p{
    /* border: 2px solid black; */
    color: grey;
    padding-left: 0px;
    font-family:Okra, Helvetica, sans-serif;
    /* line-height: 2px; */
}
#story1:hover{
    transition: all 1s;
    cursor: pointer;
    scale: 1.1;
}
article #story2{
    background-image: none;
    border: 1px solid rgb(232, 232, 232);
    height: 200px;
    width: 300px;
    border-radius: 20px;
    position: absolute;
    top: 540px;
    left: 600px;
}
#story2 img{
    height: 150px;
    width: 300px;
    border-radius: 20px;
}
#story2 img+h3{
    /* border: 2px solid; */
    width: 150px;
    margin-left: 15px;
    padding: 0px;
    margin-top: 5px;
    text-align: justify;
    margin-top: 5px;
    color: rgb(54, 54, 54);
    font-size: 20px;
    font-family:Okra, Helvetica, sans-serif;
    /* line-height: 2px; */

}
#story2 img+h3+p{
    /* border: 2px solid black; */
    color: grey;
    padding-left: 0px;
    font-family:Okra, Helvetica, sans-serif;
    /* line-height: 2px; */
}
#story2:hover{
    transition: all 1s;
    cursor: pointer;
    scale: 1.1;
}
article #story3{
    background-image: none;
    border: 1px solid rgb(232, 232, 232);
    height: 200px;
    width: 300px;
    border-radius: 20px;
    position: absolute;
    top: 540px;
    left: 960px;
}
#story3 img{
    height: 150px;
    width: 300px;
    border-radius: 20px;
}
#story3 img+h3{
    /* border: 2px solid; */
    width: 200px;
    margin-left: 18px;
    padding: 0px;
    margin-top: 5px;
    text-align: justify;
    margin-top: 5px;
    text-align: left;
    color: rgb(54, 54, 54);
    font-size: 20px;
    font-family:Okra, Helvetica, sans-serif;
    /* line-height: 2px; */

}
#story3 img+h3+p{
    /* border: 2px solid black; */
    color: grey;
    padding-left: 0px;
    font-family:Okra, Helvetica, sans-serif;
    /* line-height: 2px; */
}
#story3:hover{
    transition: all 1s;
    cursor: pointer;
    scale: 1.1;
}

#collections{
    /* border: 2px solid hotpink; */
    height: 980px;
}
#collections span{
    /* border: 2px solid; */
    color: black;
    font-size: 35px;
    position: absolute;
    left: 240px;
    top: 840px;
    font-weight: 500;
    font-family: Okra, Helvetica, sans-serif;
}
#collections span+p{
    color: black;
    /* border: 2px solid; */
    width: 750px;
    margin-top: 60px;
    margin-left: 17px;
    font-size: 18px;
    padding:0%;
    text-align: left;
    font-family: Okra, Helvetica, sans-serif;
}
#collections span+p+h6{
    color: rgb(224, 53, 70);
    /* border: 2px solid black; */
    width: 250px;
    position: absolute;
    right: 230px;
    top: 895px;
    padding: 5px;
    font-size: 17px;
    font-weight: 300;
    font-family: Okra, Helvetica, sans-serif;
}
#collections i{
    color: rgb(255, 126, 139);
}

#pics{
    /* border: 2px solid black; */
    height: 400px;
    display: flex;
    justify-content: space-around;
    margin-top: 50px;

}
#pics:hover{
    cursor: pointer;
}
.image{
    height: 360px;
    width: 250px;
    border-radius: 10px;
}
.image+h3{
    color: white;
    text-shadow: 5px black;
    font-size: 18px;
    /* border: 2px solid black; */
    position: absolute; 
    top: 1230px;
    font-family: Okra, Helvetica, sans-serif;

}
.image+h3+p{
    color: white;
    /* border: 2px solid black; */
    font-size: 18px;
    position: absolute;
    top: 1300px;
    width: 150px;
    text-align: left;
    margin-left: 15px;
}
#pop{
    background-image: none;
    /* border: 2px solid black; */
    height: 100px;
    padding-left: 0%;
    text-align: left;
}

#Popular{
    /* border: 2px solid black; */
    color: rgb(54, 54, 54);
    display: inline-block;
    font-family: Okra, Helvetica, sans-serif;
    font-weight: lighter;
}
#pop b{
    font-weight:500;
}

#area{
    background-image: none;
    border: 2px solid grey;
    border-radius: 10px;
    margin-left: 15px;
    color: black;
    width: 300px;
    height: 80px;
    text-align: left;
    padding: 5px;
    font-size: 30px;
}
.place{
    padding: 5px;
    font-weight: lighter;
    font-family: Okra, Helvetica, sans-serif;

}
.place:hover{
    cursor: pointer;
}
.num{
    font-family: Okra, Helvetica, sans-serif;
    font-size: 20px;
    margin-left: 5px;
    color: grey;
}
.num:hover{
    cursor: pointer;
}
#area .num+i{
    color:#000;
    /* border: 2px solid black; */
    font-size: 15px;
    padding: 5px;
    position:absolute;
    top: 1490px;
    left: 510px;
}
#area1{
    background-image: none;
    border: 2px solid grey;
    border-radius: 10px;
    margin-left: 15px;
    color: black;
    width: 300px;
    height: 80px;
    text-align: left;
    padding: 5px;
    font-size: 30px;
    margin-left: 350px;
    position: absolute;
    top: 1468px;
}
#area2{
    background-image: none;
    border: 2px solid grey;
    border-radius: 10px;
    margin-left: 15px;
    color: black;
    width: 300px;
    height: 80px;
    text-align: left;
    padding: 5px;
    font-size: 30px;
    margin-left: 700px;
    position: absolute;
    top: 1468px;
}
#area1 .num+i{
    color:#000;
    /* border: 2px solid black; */
    font-size: 15px;
    padding: 5px;
    position:absolute;
    top: 20px;
    left: 260px;
}
#area2 .num+i{
    color:#000;
    /* border: 2px solid black; */
    font-size: 15px;
    padding: 5px;
    position: absolute;
    top: 25px;
    left: 250px;
}
#area3{
    background-image: none;
    border: 2px solid grey;
    border-radius: 10px;
    margin-left: 15px;
    color: black;
    width: 300px;
    height: 80px;
    text-align: left;
    padding: 5px;
    font-size: 30px;
    margin-left: 20px;
    position: absolute;
    top: 1570px;
}

#area3 .num+i{
    color:#000;
    /* border: 2px solid black; */
    font-size: 15px;
    padding: 5px;
    position:absolute;
    top: 20px;
    left: 260px;
}

#area4{
    background-image: none;
    border: 2px solid grey;
    border-radius: 10px;
    margin-left: 15px;
    color: black;
    width: 300px;
    height: 80px;
    text-align: left;
    padding: 5px;
    font-size: 30px;
    margin-left: 350px;
    position: absolute;
    top: 1570px;
}

#area4 .num+i{
    color:#000;
    /* border: 2px solid black; */
    font-size: 15px;
    padding: 5px;
    position:absolute;
    top: 25px;
    left: 260px;
}

#area5{
    background-image: none;
    border: 2px solid grey;
    border-radius: 10px;
    margin-left: 15px;
    color: black;
    width: 300px;
    height: 80px;
    text-align: left;
    padding: 5px;
    font-size: 30px;
    margin-left: 700px;
    position: absolute;
    top: 1570px;
}

#area5 .num+i{
    color:#000;
    /* border: 2px solid black; */
    font-size: 15px;
    padding: 5px;
    position:absolute;
    top: 25px;
    left: 260px;
}

#area6{
    background-image: none;
    border: 2px solid grey;
    border-radius: 10px;
    margin-left: 15px;
    color: black;
    width: 300px;
    height: 80px;
    text-align: left;
    padding: 5px;
    font-size: 30px;
    margin-left: 20px;
    position: absolute;
    top: 1670px;
}
#area6 .num+i{
    color:#000;
    /* border: 2px solid black; */
    font-size: 15px;
    padding: 5px;
    position:absolute;
    top: 25px;
    left: 260px;
}
#area7{
    background-image: none;
    border: 2px solid grey;
    border-radius: 10px;
    margin-left: 15px;
    color: black;
    width: 300px;
    height: 80px;
    text-align: left;
    padding: 5px;
    font-size: 30px;
    margin-left: 350px;
    position: absolute;
    top: 1670px;
}
#area7 .num+i{
    color:#000;
    /* border: 2px solid black; */
    font-size: 15px;
    padding: 5px;
    position:absolute;
    top: 25px;
    left: 260px;
}

#area8
{
    background-image: none;
    border: 2px solid grey;
    border-radius: 10px;
    margin-left: 15px;
    color: black;
    width: 300px;
    height: 80px;
    text-align: left;
    padding: 5px;
    font-size: 30px;
    margin-left: 700px;
    position: absolute;
    top: 1670px;
    font-family: Okra, Helvetica, sans-serif;
}
#places{
    text-align: center;
    font-weight: 100;
    padding-top: 17px;
}
#places i{
    color:#000;
    /* border: 2px solid black; */
    font-size: 15px;
    padding: 5px;
    position:absolute;
    top: 25px;
    left: 200px;
}
#places:hover{
    cursor: pointer;
}
#background{
    /* border: 2px solid black; */
    height: 600px;
    width: 100%;
    background-color: rgb(255, 251, 247);
}
#background img{
    width: 250px;
    position: absolute;
    left: 300px;
    top: 2050px;
}
#data{
    /* border: 2px solid black; */
    background-image: none;
    color: #000;
    width: 500px;
    height: 400px;
    position: absolute;
    right: 350px;
    top: 2000px;
}
#data h1{
    /* border: 2px solid; */
    padding: 15px;
    font-size: 45px;
    font-weight: 300;
    width: 500px;
    font-family: Okra, Helvetica, sans-serif;
    text-align: left;
}
#data p{
    font-size: 20px;
    text-align: left;
}
#data form{
    /* border: 2px solid; */
    width: 250px;
    margin-left: 100px;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    padding: 15px;
    font-size: 20px;
}
#background input{
    /* border: 2px solid yellow; */
    width: 350px;
    position: absolute;
    top: 260px;
    left: 0px;
    padding: 15px;
    text-align: left;
}
#background button{
    /* border: 2px solid; */
    margin-top: 47px;
    margin-left: 350px;
    padding: 13px;
    font-size: 16px;
    background-color: rgb(239, 79, 95);
    color: white;
    border-radius: 8px;
}